@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  font-size: 2em;
  margin: 0.25em 0.25em 0.25em 1em;
  text-transform: uppercase;
}

section > div {
  height: 100vh;
  width: 100vw;
}

paper-button {
  background: rgb(255, 255, 255);
}

paper-button[self-start] {
  margin-bottom: 1em;
  margin-left: 1em;
}

paper-button > core-icon {
  margin-right: 0.5em;
}

paper-button > core-icon {
  margin-right: 0.5em;
}

ul {
  border: 1px solid rgb(206, 206, 206);
  list-style: none;
  margin: 1em;
  overflow-y: scroll;
  padding: 0;
  max-width: 40em;
}

ul#web-hook-list {
  margin-top: 0;
}

li {
  padding: 1em;
}

li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

li > span {
  word-wrap: break-word;
  margin-right: 0.75em;
}

li > paper-toggle-button {
  margin-right: 0.75em;
}

@media (max-width: 480px) {
  ul {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  li {
    padding: 0.5em;
  }

  header {
    margin-left: 0.2em;
  }
}
