@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  margin-left: 1em;
  font-size: 2em;
}

core-pages > div {
  height: 100vh;
  width: 100vw;
}

paper-button {
  background: rgb(255, 255, 255);
}

paper-button[self-start] {
  margin-bottom: 1em;
  margin-left: 1em;
}

paper-button > core-icon {
  margin-right: 0.5em;
}

paper-button > core-icon {
  margin-right: 0.5em;
}

ul {
  border: 1px solid rgb(206, 206, 206);
  list-style: none;
  margin: 1em;
  overflow-y: scroll;
  padding: 0;
  max-width: 40em;
}

li {
  padding: 1em;
}

li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

li > paper-toggle-button {
  margin-right: 0.75em;
}
